
@{
    ViewBag.Title = "Footer";
}

<footer class="st-navbar homedash navbar-default navbar-fixed-bottom clearfix">
    <div class="container">
            <img src="~/photos/innosofticon.png" class="img-responsive img-customer" height="70" width="70" style="float:left;">
                &nbsp;&nbsp;WebTMS v2016<br />
                &nbsp;&nbsp;<span class="fa fa-copyright" aria-hidden="true"></span> Cebu Innosoft Solutions, Inc. 2016<br />
                &nbsp;&nbsp;<span class="fa fa-phone" aria-hidden="true"></span> (32) 2663 773
    </div>
</footer>

