
@{
    ViewBag.Title = "Footer";
}

<footer class="site-footer st-navbar homedash navbar-default navbar-fixed-bottom clearfix">
    <div class="container">
        <div class="footpad">
            <img src="~/photos/innosofticon.png" class="img-responsive img-customer" height="70" width="70" style="float:left;">
            <p>
                &nbsp;&nbsp;WebTMS v2016<br />
                &nbsp;&nbsp;<span class="fa fa-copyright" aria-hidden="true"></span> Cebu Innosoft Solutions, Inc. 2016<br />
                &nbsp;&nbsp;<span class="fa fa-phone" aria-hidden="true"></span> (32) 2663 773
            </p>
        </div>
    </div>
</footer>

