@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/style.css")
</head>
<body data-spy="scroll" data-target=".main-nav">

    <!--NavBar-->
    <header class="st-navbar">
        <nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../Home/Index"><img src="../photos/innosofticonwhite.png" alt="" class="img-responsive"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse main-nav" id="sept-main-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">TMS</a></li>
                        <li><a href="#service">About Us</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                        <li><a href="../Account/Login">Log In</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </header>
    <!--/NavBar-->

    <section class="home" id="home" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="st-home-unit">
                        <div class="hero-txt">
                            <p class="hero-work">Cebu Innosoft Solutions, Inc. - WebTMS</p>
                            <h2 class="hero-title">Innosoft's Web Task Monitoring System</h2>
                            <!-- <p class="hero-sub-title">We Provide Hight Quality Bootstrap Template</p> -->
                            <!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
                            <a href="../Account/Login" class="btn btn-main btn-lg">Log In</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="mouse-icon"><div class="wheel"></div></div>
    </section>



    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title st-center">
                        <h3>WelCome to WebTMS</h3>
                        <p>What is Task Monitoring System?</p>
                    </div>
                    <div class="row mb90">
                        <div class="col-md-6">
                            <p>Task Monitoring System is designed for blah blah blah and more description here... and more... and more... and more... and mooooooooooooooooore description to be posted here about Task Monitoring System.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="photos/feature.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="funfacts" data-stellar-background-ratio="0.4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="funfact">
                        <div class="st-funfact-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="400" data-runit="1">0</span>+</div>
                        <strong class="funfact-title">Clients</strong>
                    </div><!-- .funfact -->
                </div>
                <div class="col-md-3">
                    <div class="funfact">
                        <div class="st-funfact-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="50000" data-runit="1">0</span>+</div>
                        <strong class="funfact-title">Hours Work</strong>
                    </div><!-- .funfact -->
                </div>
                <div class="col-md-3">
                    <div class="funfact">
                        <div class="st-funfact-icon"><i class="fa fa-send"></i></div>
                        <div class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="30000" data-runit="1">0</span>+</div>
                        <strong class="funfact-title">E-mail</strong>
                    </div><!-- .funfact -->
                </div>
                <div class="col-md-3">
                    <div class="funfact">
                        <div class="st-funfact-icon"><i class="fa fa-magic"></i></div>
                        <div class="st-funfact-counter"><span class="st-ff-count" data-from="0" data-to="3000" data-runit="1">0</span>+</div>
                        <strong class="funfact-title">Completed</strong>
                    </div><!-- .funfact -->
                </div>
            </div>
        </div>
    </section>

    <section class="service" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title st-center">
                        <h3>About Us</h3>
                        <p>Know More About Us</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="st-feature">
                                <div class="st-feature-icon"><i class="fa fa-users"></i></div>
                                <strong class="st-feature-title">Who We Are?</strong>
                                <p>Cebu Innosoft Solutions Services Inc. is the leading local support solutions provider of Information Technology (IT) Services to commercial and government IT Projects within Visayas and Mindanao Areas in the Philippine Archipelago.<br/><br />
                                    Our target industries varies widely from wholesale and retail trading businesses, manufacturing and production, hotel and hospitality, healthcare, academic institutions, logistics, government / non-government organizations and service organizations.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="st-feature">
                                <div class="st-feature-icon"><i class="fa fa-pencil"></i></div>
                                <strong class="st-feature-title">What we do?</strong>
                                <p>We give your company the leverage by providing innovative software solutions products such as iPOS, iFMIS, iHRIS, and many more. Your company will gain competitive advantage by using this software as a tool to improve your company's performance. Our commitment is for our client's advancement.<br/><br />
                                    We are focused on building long-term relationship and to provide the right technology expertise. We believe that we must not just push boxes of software and hardware but rather, we concentrate on providing meaningful functionality so as our customers' company enhances its field of expertise in the industry.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="st-feature">
                                <div class="st-feature-icon"><i class="fa fa-flag"></i></div>
                                <strong class="st-feature-title">What is our Mission?</strong>
                                <p>Our Mission is to persistently research and find solutions to improve our client’s business efficiency through IT. It will be a never ending struggle to innovate for the sake of Improving Sales and Customer Service.<br/><br />
                                    When we say practical software solutions, we mean a benefit that exceeds costs and not the other way around. Solutions that could cut cost and maximize company profitability.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="st-feature">
                                <div class="st-feature-icon"><i class="fa fa-eye"></i></div>
                                <strong class="st-feature-title">What is our Vision?</strong>
                                <p>We believe in every Filipino’s capacity and capability to innovate and invent new ways in handling problems whether it is on business, personal and even on Information Technology (IT).<br/><br />
                                    Filipinos have the patience and endurance in finding solutions to every difficult situations or scenarios that may be encountered in every aspect in the field of Information Technology (IT).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-desc">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="photos/b21.png" alt="" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <h3 class="bottom-line">SOME OF OUR GROWING PRODUCTS</h3>
                    <p>Graeci decore metrodorus conturbamur nostri alii veniamus temperantia audivi, discidia optari pariter formidines nimis dissidens quosvis epicureis, iustitia inbecilloque cognoscerem remotis solet duce pondere, stoicos amaret, faciam sic reperiuntur, timeam dedocere spatio censet cernantur dicas miseram alienum. Attico fonte errem neque, causam nimium reliqui fana, duo sane consequi quos cogitarent dicant profecto.</p>
                    <a href="http://innosoft.ph/products.vbhtml" class="btn btn-main btn-lg" target="_blank">Visit Site</a>
                </div>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="section-title st-center">
                        <h3>Some Of our clients</h3>
                        <p>Avocent deditum long</p>
                    </div> -->
                    <ul class="clients-carousel">
                        <li><img src="~/photos/caldapizza.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/CNU.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/davinci.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/dranix.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/flameit.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/gaisanogrand.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/ipi.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/orangebrutus.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/sanmiguel.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/seaolympus.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/skygo.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/spcfi.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/subzero.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/threesixty.png" class="img-responsive" alt=""></li>
                        <li><img src="~/photos/toyota.png" class="img-responsive" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonials-carousel">
                        <ul>
                            <li>
                                <div class="testimonial">
                                    <div class="testimonial-img">
                                        <img src="photos/client.jpg" alt="">
                                    </div>
                                    <blockquote>
                                        <p>iPOS is Simple and user-friendly. You get the right information you needed without the complexities get-ting them</p>
                                        <footer>Lance Lim, <cite title="Source Title">Manager - Family Drug</cite></footer>
                                    </blockquote>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial">
                                    <div class="testimonial-img">
                                        <img src="photos/client2.jpg" alt="">
                                    </div>
                                    <blockquote>
                                        <p>Innosoft's iFMIS is very comprehensive. All of its features were worth every penny. I spent on this program</p>
                                        <footer>Manolo Lao, <cite title="Source Title">Manager - Preman Distribution</cite></footer>
                                    </blockquote>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial">
                                    <div class="testimonial-img">
                                        <img src="photos/client3.jpg" alt="">
                                    </div>
                                    <blockquote>
                                        <p>Innosoft’s iHRIS gives me a lot of time to do decision makings rather than processing and doing clerical work. Imagine I process payroll weekly for 900 employees. With the system in place it’s just a walk in the park.</p>
                                        <footer>Julita Limpangog, <cite title="Source Title">HR Manager - PEBA Manufacturing</cite></footer>
                                    </blockquote>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title st-center">
                        <h3>Contact Us</h3>
                        <p>Get in Touch with Us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="500px" scrolling="no" height="580px" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Innosoft+Solutions,+V+Rama+Avenue,+Cebu+City,+Central+Visayas,+Philippines&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" marginwidth="0" marginheight="0"></iframe>
                </div>
                <div class="col-md-6">
                    <h3><span class="fa fa-gift" aria-hidden="true"></span> Free Support</h3>
                    <ul>
                        <li>Forum</li>
                        <li>One-day response time</li>
                        <li>Deployment of on-site technical support if necessary</li>
                    </ul>
                    <h3><span class="fa fa-wrench" aria-hidden="true"></span> Annual Subscription Support</h3>
                    <ul>
                        <li>Telephone Call, Call Ticket, Forum</li>
                        <li>One-hour response time</li>
                        <li>Remote support, e.g., Teamviewer, Logmein, etc.</li>
                        <li>Deployment of on-site technical support if necessary</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contact Us</h3>
                    <address>
                        Innosoft Bldg. Corner V. Rama Avenue & R. Duterte St.
                        Guadalupe, Cebu City
                    </address>
                    <table>
                        <tr>
                            <td><span class="fa fa-phone" aria-hidden="true"></span></td>
                            <td>&nbsp;(32) 2663 773</td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-envelope" aria-hidden="true"></span></td>
                            <td>&nbsp;<a href="mailto:info@innosoft.ph">info@innosoft.ph</a></td>
                        </tr>
                        <tr>
                            <td><span class="fa fa-clock-o" aria-hidden="true"></span></td>
                            <td>&nbsp;Monday - Saturday: 9:00 AM to 6:00 PM</td>
                        <tr>
                    </table>
                    <section class="subscribe">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <br>
                                    <ul class="subscribe-social">
                                        <li><a target="_blank" href="https://twitter.com/CebuInnosoft" class="social twitter"><i class="fa fa-twitter"></i> Follow</a></li>
                                        <li><a target="_blank" href="https://www.facebook.com/InnosoftSolutionsInc" class="social facebook"><i class="fa fa-facebook"></i> Like</a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/groups/4541372/profile" class="social linkedin"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    WebTMS v2016 - <a href="http://innosoft.ph/" target="_blank">&copy; Innosoft Solutions, Inc.</a> 2016 /
                    &copy; <a href="https://www.cantothemes.com" target="_blank">CantoThemes</a> 2015.
                    <!-- Don't Remove/Edit this. If you remove this you don't have permission to use this template. -->
                    Designed by <a href="https://www.cantothemes.com" target="_blank">CantoThemes</a>
                    <!-- So Please don't remove this -->
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->
    <script src="@Url.Content("/Scripts/jquery.easing.min.js")"></script>
</body>
</html>